In [1]:
# Library Imports.
import pandas as pd

import numpy as np

In [2]:
# Read tripleave2 route split 1 CSV file into Data Frame:

chunk = pd.read_csv('v5_tripLeave2_route_split_1.csv', keep_default_na=True, delimiter=',', skipinitialspace=True, chunksize=1000000)

wk = pd.concat(chunk)

/tmp/ipykernel_18861/713679397.py:5: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  wk = pd.concat(chunk)
/tmp/ipykernel_18861/713679397.py:5: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  wk = pd.concat(chunk)

In [ ]:
wk.shape

In [ ]:
wk.head()

In [ ]:
wk.dtypes

## Datatype Changes

In [3]:
wk['num_lineID'] = wk['num_lineID'].astype('int16')
wk['DIRECTION'] = wk['DIRECTION'].astype('int16')

In [4]:
wk['actual_duration'] = wk['actual_duration'].astype('int64')
wk['dayOfWeek'] = wk['dayOfWeek'].astype('int16')

In [5]:
wk['weekend'] = wk['weekend'].astype('int16')
wk['rushHour'] = wk['rushHour'].astype('int16')

In [ ]:
wk.head()

In [ ]:
wk.dtypes

## Route 31A

In [6]:
lwk = wk[(wk['LINEID'] == '31A')]

In [7]:
lwk.shape

(68134, 22)

In [8]:
# Drop Route 31A rows from wk
wk.drop(wk[wk['LINEID'] == '31A'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_31A_tripLeave2_sp1.csv', index=False)

## Route 32

In [9]:
lwk = wk[(wk['LINEID'] == '32')]

In [10]:
lwk.shape

(143386, 22)

In [11]:
# Drop Route 32 rows from wk
wk.drop(wk[wk['LINEID'] == '32'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_32_tripLeave2_sp1.csv', index=False)

## Route 27X

In [12]:
lwk = wk[(wk['LINEID'] == '27X')]

In [13]:
lwk.shape

(6915, 22)

In [14]:
# Drop Route 27X rows from wk
wk.drop(wk[wk['LINEID'] == '27X'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_27X_tripLeave2_sp1.csv', index=False)

## Route 16C

In [15]:
lwk = wk[(wk['LINEID'] == '16C')]

In [16]:
lwk.shape

(9836, 22)

In [17]:
# Drop Route 16C rows from wk
wk.drop(wk[wk['LINEID'] == '16C'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_16C_tripLeave2_sp1.csv', index=False)

## Route 16

In [18]:
lwk = wk[(wk['LINEID'] == '16')]

In [19]:
lwk.shape

(542099, 22)

In [20]:
# Drop Route 16 rows from wk
wk.drop(wk[wk['LINEID'] == '16'].index, inplace = True)

In [21]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
474,2018-02-26,6288537,1,385,62400,62400,62400,62400,1000372,2018,...,20180226628853701,201802266288537,18,30,2,5716,0,0,1,17
475,2018-02-26,6288537,2,2806,62507,62507,62507,62507,1000372,2018,...,20180226628853702,201802266288537,18,30,2,5716,0,0,1,17
476,2018-02-26,6288537,3,2807,62549,62549,62549,62549,1000372,2018,...,20180226628853703,201802266288537,18,30,2,5716,0,0,1,17
477,2018-02-26,6288537,4,2808,62608,62608,62608,62608,1000372,2018,...,20180226628853704,201802266288537,18,30,2,5716,0,0,1,17
478,2018-02-26,6288537,5,486,62786,62786,62786,62786,1000372,2018,...,20180226628853705,201802266288537,18,30,2,5716,0,0,1,17

In [22]:
wk.shape

(16376433, 22)

<h3>Send to CSV</h3>

In [23]:
# Send df to csv:
lwk.to_csv('v5_16_tripLeave2_sp1.csv', index=False)

## Continue v5_tripLeave2_route_split_2

In [24]:
# Send df to csv:
wk.to_csv('v5_tripLeave2_route_split_2.csv', index=False)