In [1]:
# Library Imports.
import pandas as pd

import numpy as np

In [2]:
# Read tripleave5 route split 8 CSV file into Data Frame:
wk = pd.read_csv('v5_tripLeave5_route_split_8.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

In [3]:
wk.shape

(102159, 22)

In [ ]:
wk.head()

In [ ]:
wk.dtypes

## Datatype Changes

In [4]:
wk['num_lineID'] = wk['num_lineID'].astype('int16')
wk['DIRECTION'] = wk['DIRECTION'].astype('int16')

In [5]:
wk['actual_duration'] = wk['actual_duration'].astype('int64')
wk['dayOfWeek'] = wk['dayOfWeek'].astype('int16')

In [6]:
wk['weekend'] = wk['weekend'].astype('int16')
wk['rushHour'] = wk['rushHour'].astype('int16')

In [7]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
0,2018-08-27,7511422,1,4168,26400,26400,26400,26400,2534806,2018,...,20180827751142201,201808277511422,84A,127,2,2937,0,0,0,7
1,2018-08-27,7511422,2,4170,26482,26482,26482,26482,2534806,2018,...,20180827751142202,201808277511422,84A,127,2,2937,0,0,0,7
2,2018-08-27,7511422,3,4153,26541,26541,26541,26541,2534806,2018,...,20180827751142203,201808277511422,84A,127,2,2937,0,0,0,7
3,2018-08-27,7511422,4,4154,26595,26595,26595,26595,2534806,2018,...,20180827751142204,201808277511422,84A,127,2,2937,0,0,0,7
4,2018-08-27,7511422,5,4416,26640,26640,26640,26640,2534806,2018,...,20180827751142205,201808277511422,84A,127,2,2937,0,0,0,7

In [ ]:
wk.dtypes

## Route 84A

In [8]:
lwk = wk[(wk['LINEID'] == '84A')]

In [9]:
lwk.shape

(23088, 22)

In [10]:
# Drop Route 84A rows from wk
wk.drop(wk[wk['LINEID'] == '84A'].index, inplace = True)

In [11]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
238,2018-08-27,7511678,1,7433,26700,26700,26700,26700,1000323,2018,...,20180827751167801,201808277511678,51X,91,2,4376,0,0,0,7
239,2018-08-27,7511678,2,4677,26822,26822,26822,26822,1000323,2018,...,20180827751167802,201808277511678,51X,91,2,4376,0,0,0,7
240,2018-08-27,7511678,3,2136,26864,26864,26864,26864,1000323,2018,...,20180827751167803,201808277511678,51X,91,2,4376,0,0,0,7
241,2018-08-27,7511678,4,2137,26892,26892,26892,26892,1000323,2018,...,20180827751167804,201808277511678,51X,91,2,4376,0,0,0,7
242,2018-08-27,7511678,5,2138,26932,26932,26932,26932,1000323,2018,...,20180827751167805,201808277511678,51X,91,2,4376,0,0,0,7

In [12]:
wk.shape

(79071, 22)

<h3>Send to CSV</h3>

In [13]:
# Send df to csv:
lwk.to_csv('v5_84A_tripLeave5_sp8.csv', index=False)

## Route 51X

In [14]:
lwk = wk[(wk['LINEID'] == '51X')]

In [15]:
lwk.shape

(1697, 22)

In [16]:
# Drop Route 51X rows from wk
wk.drop(wk[wk['LINEID'] == '51X'].index, inplace = True)

In [17]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
286,2018-08-27,7511814,18,2969,39737,39737,39737,39737,2406878,2018,...,20180827751181418,201808277511814,161,25,2,1259,0,0,0,11
287,2018-08-27,7511814,19,2970,39767,39767,39767,39767,2406878,2018,...,20180827751181419,201808277511814,161,25,2,1259,0,0,0,11
288,2018-08-27,7511814,20,4988,39808,39808,39808,39808,2406878,2018,...,20180827751181420,201808277511814,161,25,2,1259,0,0,0,11
289,2018-08-27,7511814,21,4707,39866,39866,39866,39866,2406878,2018,...,20180827751181421,201808277511814,161,25,2,1259,0,0,0,11
290,2018-08-27,7511814,22,4708,39892,39892,39892,39892,2406878,2018,...,20180827751181422,201808277511814,161,25,2,1259,0,0,0,11

In [18]:
wk.shape

(77374, 22)

<h3>Send to CSV</h3>

In [19]:
# Send df to csv:
lwk.to_csv('v5_51X_tripLeave5_sp8.csv', index=False)

## Route 161

In [20]:
lwk = wk[(wk['LINEID'] == '161')]

In [21]:
lwk.shape

(3451, 22)

In [22]:
# Drop Route 161 rows from wk
wk.drop(wk[wk['LINEID'] == '161'].index, inplace = True)

In [23]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
300,2018-08-27,7511820,1,248,84600,84600,84600,84600,2693216,2018,...,20180827751182001,201808277511820,14C,17,1,1076,0,0,0,0
301,2018-08-27,7511820,3,250,84681,84681,84681,84681,2693216,2018,...,20180827751182003,201808277511820,14C,17,1,1076,0,0,0,0
302,2018-08-27,7511820,4,251,84712,84712,84712,84712,2693216,2018,...,20180827751182004,201808277511820,14C,17,1,1076,0,0,0,0
303,2018-08-27,7511820,5,252,84748,84748,84748,84748,2693216,2018,...,20180827751182005,201808277511820,14C,17,1,1076,0,0,0,0
304,2018-08-27,7511820,6,255,84774,84774,84774,84774,2693216,2018,...,20180827751182006,201808277511820,14C,17,1,1076,0,0,0,0

In [24]:
wk.shape

(73923, 22)

<h3>Send to CSV</h3>

In [25]:
# Send df to csv:
lwk.to_csv('v5_161_tripLeave5_sp8.csv', index=False)

## Route 14C

In [26]:
lwk = wk[(wk['LINEID'] == '14C')]

In [27]:
lwk.shape

(4925, 22)

In [28]:
# Drop Route 14C rows from wk
wk.drop(wk[wk['LINEID'] == '14C'].index, inplace = True)

In [29]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
499,2018-08-27,7513088,1,4495,57600,57600,57600,57600,2534787,2018,...,20180827751308801,201808277513088,68A,107,1,1946,0,0,1,16
500,2018-08-27,7513088,2,1278,57772,57772,57772,57772,2534787,2018,...,20180827751308802,201808277513088,68A,107,1,1946,0,0,1,16
501,2018-08-27,7513088,3,1282,57945,57945,57945,57945,2534787,2018,...,20180827751308803,201808277513088,68A,107,1,1946,0,0,1,16
502,2018-08-27,7513088,4,4456,58058,58058,58058,58058,2534787,2018,...,20180827751308804,201808277513088,68A,107,1,1946,0,0,1,16
503,2018-08-27,7513088,5,1284,58115,58115,58115,58115,2534787,2018,...,20180827751308805,201808277513088,68A,107,1,1946,0,0,1,16

In [30]:
wk.shape

(68998, 22)

<h3>Send to CSV</h3>

In [31]:
# Send df to csv:
lwk.to_csv('v5_14C_tripLeave5_sp8.csv', index=False)

## Route 68A

In [32]:
lwk = wk[(wk['LINEID'] == '68A')]

In [33]:
lwk.shape

(4130, 22)

In [34]:
# Drop Route 68A rows from wk
wk.drop(wk[wk['LINEID'] == '68A'].index, inplace = True)

In [35]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
568,2018-08-27,7513636,1,4713,26400,26400,26400,26400,2172293,2018,...,20180827751363601,201808277513636,77X,118,2,5159,0,0,0,7
569,2018-08-27,7513636,2,4714,26453,26453,26453,26453,2172293,2018,...,20180827751363602,201808277513636,77X,118,2,5159,0,0,0,7
570,2018-08-27,7513636,3,4960,26490,26490,26490,26490,2172293,2018,...,20180827751363603,201808277513636,77X,118,2,5159,0,0,0,7
571,2018-08-27,7513636,4,4932,26548,26548,26548,26548,2172293,2018,...,20180827751363604,201808277513636,77X,118,2,5159,0,0,0,7
572,2018-08-27,7513636,5,4933,26561,26561,26561,26561,2172293,2018,...,20180827751363605,201808277513636,77X,118,2,5159,0,0,0,7

In [36]:
wk.shape

(64868, 22)

<h3>Send to CSV</h3>

In [37]:
# Send df to csv:
lwk.to_csv('v5_68A_tripLeave5_sp8.csv', index=False)

## Route 77X

In [38]:
lwk = wk[(wk['LINEID'] == '77X')]

In [39]:
lwk.shape

(2468, 22)

In [40]:
# Drop Route 77X rows from wk
wk.drop(wk[wk['LINEID'] == '77X'].index, inplace = True)

In [41]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
633,2018-08-27,7513834,1,7158,27900,27900,27900,27900,1000861,2018,...,20180827751383401,201808277513834,39X,68,2,3933,0,0,1,8
634,2018-08-27,7513834,2,7048,27951,27951,27951,27951,1000861,2018,...,20180827751383402,201808277513834,39X,68,2,3933,0,0,1,8
635,2018-08-27,7513834,3,7159,28037,28037,28037,28037,1000861,2018,...,20180827751383403,201808277513834,39X,68,2,3933,0,0,1,8
636,2018-08-27,7513834,4,7017,28183,28183,28183,28183,1000861,2018,...,20180827751383404,201808277513834,39X,68,2,3933,0,0,1,8
637,2018-08-27,7513834,5,7018,28245,28245,28245,28245,1000861,2018,...,20180827751383405,201808277513834,39X,68,2,3933,0,0,1,8

In [42]:
wk.shape

(62400, 22)

<h3>Send to CSV</h3>

In [43]:
# Send df to csv:
lwk.to_csv('v5_77X_tripLeave5_sp8.csv', index=False)

## Route 39X

In [44]:
lwk = wk[(wk['LINEID'] == '39X')]

In [45]:
lwk.shape

(6494, 22)

In [46]:
# Drop Route 39X rows from wk
wk.drop(wk[wk['LINEID'] == '39X'].index, inplace = True)

In [47]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
686,2018-08-27,7514316,1,7067,29100,29100,29100,29100,1000171,2018,...,20180827751431601,201808277514316,15D,23,2,3798,0,0,1,8
687,2018-08-27,7514316,2,2956,29128,29128,29128,29128,1000171,2018,...,20180827751431602,201808277514316,15D,23,2,3798,0,0,1,8
688,2018-08-27,7514316,3,2965,29186,29186,29186,29186,1000171,2018,...,20180827751431603,201808277514316,15D,23,2,3798,0,0,1,8
689,2018-08-27,7514316,4,2983,29259,29259,29259,29259,1000171,2018,...,20180827751431604,201808277514316,15D,23,2,3798,0,0,1,8
690,2018-08-27,7514316,5,2984,29342,29342,29342,29342,1000171,2018,...,20180827751431605,201808277514316,15D,23,2,3798,0,0,1,8

In [48]:
wk.shape

(55906, 22)

<h3>Send to CSV</h3>

In [49]:
# Send df to csv:
lwk.to_csv('v5_39X_tripLeave5_sp8.csv', index=False)

## Route 15D

In [50]:
lwk = wk[(wk['LINEID'] == '15D')]

In [51]:
lwk.shape

(4349, 22)

In [52]:
# Drop Route 15D rows from wk
wk.drop(wk[wk['LINEID'] == '15D'].index, inplace = True)

In [53]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
904,2018-08-28,7503505,1,2825,56700,56700,56700,56700,2868332,2018,...,20180828750350501,201808287503505,44B,84,1,1666,1,0,1,16
905,2018-08-28,7503505,2,2826,56769,56769,56769,56769,2868332,2018,...,20180828750350502,201808287503505,44B,84,1,1666,1,0,1,16
906,2018-08-28,7503505,3,2827,56819,56819,56819,56819,2868332,2018,...,20180828750350503,201808287503505,44B,84,1,1666,1,0,1,16
907,2018-08-28,7503505,4,2828,56875,56875,56875,56875,2868332,2018,...,20180828750350504,201808287503505,44B,84,1,1666,1,0,1,16
908,2018-08-28,7503505,5,2829,56925,56925,56925,56925,2868332,2018,...,20180828750350505,201808287503505,44B,84,1,1666,1,0,1,16

In [54]:
wk.shape

(51557, 22)

<h3>Send to CSV</h3>

In [55]:
# Send df to csv:
lwk.to_csv('v5_15D_tripLeave5_sp8.csv', index=False)

## Route 44B

In [56]:
lwk = wk[(wk['LINEID'] == '44B')]

In [57]:
lwk.shape

(9621, 22)

In [58]:
# Drop Route 44B rows from wk
wk.drop(wk[wk['LINEID'] == '44B'].index, inplace = True)

In [59]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
1873,2018-08-29,7506153,1,4167,34200,34200,34200,34200,2406887,2018,...,20180829750615301,201808297506153,185,32,1,490,2,0,0,10
1874,2018-08-29,7506153,2,4170,34289,34289,34289,34289,2406887,2018,...,20180829750615302,201808297506153,185,32,1,490,2,0,0,10
1875,2018-08-29,7506153,3,4153,34349,34349,34349,34349,2406887,2018,...,20180829750615303,201808297506153,185,32,1,490,2,0,0,10
1876,2018-08-29,7506153,4,4154,34404,34404,34404,34404,2406887,2018,...,20180829750615304,201808297506153,185,32,1,490,2,0,0,10
1877,2018-08-29,7506153,5,4183,34440,34440,34440,34440,2406887,2018,...,20180829750615305,201808297506153,185,32,1,490,2,0,0,10

In [60]:
wk.shape

(41936, 22)

<h3>Send to CSV</h3>

In [61]:
# Send df to csv:
lwk.to_csv('v5_44B_tripLeave5_sp8.csv', index=False)

## Route 185

In [62]:
lwk = wk[(wk['LINEID'] == '185')]

In [63]:
lwk.shape

(26868, 22)

In [64]:
# Drop Route 185 rows from wk
wk.drop(wk[wk['LINEID'] == '185'].index, inplace = True)

In [65]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
6515,2018-09-03,7643736,2,3284,28553,28553,28553,28553,2534855,2018,...,20180903764373602,201809037643736,118,7,2,3429,0,0,1,8
6516,2018-09-03,7643736,3,3310,28581,28581,28581,28581,2534855,2018,...,20180903764373603,201809037643736,118,7,2,3429,0,0,1,8
6517,2018-09-03,7643736,4,3481,28592,28592,28592,28592,2534855,2018,...,20180903764373604,201809037643736,118,7,2,3429,0,0,1,8
6518,2018-09-03,7643736,5,3482,28612,28612,28612,28612,2534855,2018,...,20180903764373605,201809037643736,118,7,2,3429,0,0,1,8
6519,2018-09-03,7643736,6,3483,28670,28670,28670,28670,2534855,2018,...,20180903764373606,201809037643736,118,7,2,3429,0,0,1,8

In [66]:
wk.shape

(15068, 22)

<h3>Send to CSV</h3>

In [67]:
# Send df to csv:
lwk.to_csv('v5_185_tripLeave5_sp8.csv', index=False)

## Route 118

In [68]:
lwk = wk[(wk['LINEID'] == '118')]

In [69]:
lwk.shape

(2863, 22)

In [70]:
# Drop Route 118 rows from wk
wk.drop(wk[wk['LINEID'] == '118'].index, inplace = True)

In [71]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
6584,2018-09-03,7644916,1,943,27000,27000,27000,27000,1000738,2018,...,20180903764491601,201809037644916,42D,81,2,2450,0,0,1,8
6585,2018-09-03,7644916,2,3599,27240,27240,27240,27240,1000738,2018,...,20180903764491602,201809037644916,42D,81,2,2450,0,0,1,8
6586,2018-09-03,7644916,3,3600,27312,27312,27312,27312,1000738,2018,...,20180903764491603,201809037644916,42D,81,2,2450,0,0,1,8
6587,2018-09-03,7644916,4,3601,27401,27401,27401,27401,1000738,2018,...,20180903764491604,201809037644916,42D,81,2,2450,0,0,1,8
6588,2018-09-03,7644916,5,3602,27480,27480,27480,27480,1000738,2018,...,20180903764491605,201809037644916,42D,81,2,2450,0,0,1,8

In [72]:
wk.shape

(12205, 22)

<h3>Send to CSV</h3>

In [73]:
# Send df to csv:
lwk.to_csv('v5_118_tripLeave5_sp8.csv', index=False)

## Route 42D

In [74]:
lwk = wk[(wk['LINEID'] == '42D')]

In [75]:
lwk.shape

(1977, 22)

In [76]:
# Drop Route 42D rows from wk
wk.drop(wk[wk['LINEID'] == '42D'].index, inplace = True)

In [77]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
6659,2018-09-03,7646561,1,928,27900,27900,27900,27900,1000199,2018,...,20180903764656101,201809037646561,31D,52,2,1865,0,0,1,8
6660,2018-09-03,7646561,2,929,27961,27961,27961,27961,1000199,2018,...,20180903764656102,201809037646561,31D,52,2,1865,0,0,1,8
6661,2018-09-03,7646561,3,930,28080,28080,28080,28080,1000199,2018,...,20180903764656103,201809037646561,31D,52,2,1865,0,0,1,8
6662,2018-09-03,7646561,4,931,28162,28162,28162,28162,1000199,2018,...,20180903764656104,201809037646561,31D,52,2,1865,0,0,1,8
6663,2018-09-03,7646561,5,587,28260,28260,28260,28260,1000199,2018,...,20180903764656105,201809037646561,31D,52,2,1865,0,0,1,8

In [78]:
wk.shape

(10228, 22)

<h3>Send to CSV</h3>

In [79]:
# Send df to csv:
lwk.to_csv('v5_42D_tripLeave5_sp8.csv', index=False)

## Route 31D

In [80]:
lwk = wk[(wk['LINEID'] == '31D')]

In [81]:
lwk.shape

(2242, 22)

In [82]:
# Drop Route 31D rows from wk
wk.drop(wk[wk['LINEID'] == '31D'].index, inplace = True)

In [83]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
7287,2018-09-03,7653769,1,3333,26100,26100,26100,26100,1000766,2018,...,20180903765376901,201809037653769,70D,113,2,3021,0,0,0,7
7288,2018-09-03,7653769,2,3334,26162,26162,26162,26162,1000766,2018,...,20180903765376902,201809037653769,70D,113,2,3021,0,0,0,7
7289,2018-09-03,7653769,3,3352,26220,26220,26220,26220,1000766,2018,...,20180903765376903,201809037653769,70D,113,2,3021,0,0,0,7
7290,2018-09-03,7653769,4,3335,26340,26340,26340,26340,1000766,2018,...,20180903765376904,201809037653769,70D,113,2,3021,0,0,0,7
7291,2018-09-03,7653769,5,3336,26460,26460,26460,26460,1000766,2018,...,20180903765376905,201809037653769,70D,113,2,3021,0,0,0,7

In [84]:
wk.shape

(7986, 22)

<h3>Send to CSV</h3>

In [85]:
# Send df to csv:
lwk.to_csv('v5_31D_tripLeave5_sp8.csv', index=False)

## Route 70D

In [86]:
lwk = wk[(wk['LINEID'] == '70D')]

In [87]:
lwk.shape

(2430, 22)

In [88]:
# Drop Route 70D rows from wk
wk.drop(wk[wk['LINEID'] == '70D'].index, inplace = True)

In [89]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
8334,2018-09-03,7659878,1,4747,25200,25200,25200,25200,1001166,2018,...,20180903765987801,201809037659878,236,34,1,1856,0,0,0,7
8335,2018-09-03,7659878,2,2960,25239,25239,25239,25239,1001166,2018,...,20180903765987802,201809037659878,236,34,1,1856,0,0,0,7
8336,2018-09-03,7659878,3,1545,25285,25285,25285,25285,1001166,2018,...,20180903765987803,201809037659878,236,34,1,1856,0,0,0,7
8337,2018-09-03,7659878,4,1816,25352,25352,25352,25352,1001166,2018,...,20180903765987804,201809037659878,236,34,1,1856,0,0,0,7
8338,2018-09-03,7659878,5,6171,25402,25402,25402,25402,1001166,2018,...,20180903765987805,201809037659878,236,34,1,1856,0,0,0,7

In [90]:
wk.shape

(5556, 22)

<h3>Send to CSV</h3>

In [91]:
# Send df to csv:
lwk.to_csv('v5_70D_tripLeave5_sp8.csv', index=False)

## Route 236

In [92]:
lwk = wk[(wk['LINEID'] == '236')]

In [93]:
lwk.shape

(5556, 22)

In [94]:
# Drop Route 236 rows from wk
wk.drop(wk[wk['LINEID'] == '236'].index, inplace = True)

In [95]:
wk.head()

Empty DataFrame
Columns: [DAYOFSERVICE, TRIPID, PROGRNUMBER, STOPPOINTID, PLANNEDTIME_ARR, PLANNEDTIME_DEP, ACTUALTIME_ARR, ACTUALTIME_DEP, VEHICLEID, year, month, day, id, trip_leave_id, LINEID, num_lineID, DIRECTION, actual_duration, dayOfWeek, weekend, rushHour, actualARR_hour]
Index: []

[0 rows x 22 columns]

In [96]:
wk.shape

(0, 22)

<h3>Send to CSV</h3>

In [97]:
# Send df to csv:
lwk.to_csv('v5_236_tripLeave5_sp8.csv', index=False)

## Route 41X

In [ ]:
lwk = wk[(wk['LINEID'] == '41X')]

In [ ]:
lwk.shape

In [ ]:
# Drop Route 41X rows from wk
wk.drop(wk[wk['LINEID'] == '41X'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_41X_tripLeave5_sp8.csv', index=False)

## Route 31B

In [ ]:
lwk = wk[(wk['LINEID'] == '31B')]

In [ ]:
lwk.shape

In [ ]:
# Drop Route 31B rows from wk
wk.drop(wk[wk['LINEID'] == '31B'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_31B_tripLeave5_sp8.csv', index=False)

## Route 14C

In [ ]:
lwk = wk[(wk['LINEID'] == '14C')]

In [ ]:
lwk.shape

In [ ]:
# Drop Route 14C rows from wk
wk.drop(wk[wk['LINEID'] == '14C'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_14C_tripLeave5_sp8.csv', index=False)

## Continue v5_tripLeave5_route_split_9

In [ ]:
# Send df to csv:
wk.to_csv('v5_tripLeave5_route_split_9.csv', index=False)