In [1]:
# Library Imports.
import pandas as pd

import numpy as np

In [2]:
# Read tripleave4 CSV file into Data Frame:
wk = pd.read_csv('v5_tripLeave4_route_split_1.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

In [3]:
wk.shape

(16704040, 22)

In [ ]:
wk.head()

In [ ]:
wk.dtypes

## Datatype Changes

In [4]:
wk['num_lineID'] = wk['num_lineID'].astype('int16')
wk['DIRECTION'] = wk['DIRECTION'].astype('int16')

In [5]:
wk['actual_duration'] = wk['actual_duration'].astype('int64')
wk['dayOfWeek'] = wk['dayOfWeek'].astype('int16')

In [6]:
wk['weekend'] = wk['weekend'].astype('int16')
wk['rushHour'] = wk['rushHour'].astype('int16')

In [ ]:
wk.head()

In [ ]:
wk.dtypes

## Route 47

In [7]:
lwk = wk[(wk['LINEID'] == '47')]

In [8]:
lwk.shape

(87598, 22)

In [9]:
# Drop Route 47 rows from wk
wk.drop(wk[wk['LINEID'] == '47'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_47_tripLeave4_sp1.csv', index=False)

## Route 13

In [10]:
lwk = wk[(wk['LINEID'] == '13')]

In [11]:
lwk.shape

(463590, 22)

In [12]:
# Drop Route 13 rows from wk
wk.drop(wk[wk['LINEID'] == '13'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_13_tripLeave4_sp1.csv', index=False)

## Route 37

In [13]:
lwk = wk[(wk['LINEID'] == '37')]

In [14]:
lwk.shape

(314419, 22)

In [15]:
# Drop Route 37 rows from wk
wk.drop(wk[wk['LINEID'] == '37'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_37_tripLeave4_sp1.csv', index=False)

## Route 102

In [16]:
lwk = wk[(wk['LINEID'] == '102')]

In [17]:
lwk.shape

(170597, 22)

In [18]:
# Drop Route 102 rows from wk
wk.drop(wk[wk['LINEID'] == '102'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_102_tripLeave4_sp1.csv', index=False)

## Route 39A

In [19]:
lwk = wk[(wk['LINEID'] == '39A')]

In [20]:
lwk.shape

(583157, 22)

In [21]:
# Drop Route 39A rows from wk
wk.drop(wk[wk['LINEID'] == '39A'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_39A_tripLeave4_sp1.csv', index=False)

## Route 1

In [22]:
lwk = wk[(wk['LINEID'] == '1')]

In [23]:
lwk.shape

(200848, 22)

In [24]:
# Drop Route 1 rows from wk
wk.drop(wk[wk['LINEID'] == '1'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_1_tripLeave4_sp1.csv', index=False)

## Route 27A

In [25]:
lwk = wk[(wk['LINEID'] == '27A')]

In [26]:
lwk.shape

(126821, 22)

In [27]:
# Drop Route 27A rows from wk
wk.drop(wk[wk['LINEID'] == '27A'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_27A_tripLeave4_sp1.csv', index=False)

## Route 27

In [28]:
lwk = wk[(wk['LINEID'] == '27')]

In [29]:
lwk.shape

(605728, 22)

In [30]:
# Drop Route 27 rows from wk
wk.drop(wk[wk['LINEID'] == '27'].index, inplace = True)

In [31]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
3312,2018-06-24,7110820,1,4843,68400,68400,68400,68400,2868343,2018,...,20180624711082001,201806247110820,41,74,2,3891,6,1,0,19
3313,2018-06-24,7110820,2,4905,68436,68436,68436,68436,2868343,2018,...,20180624711082002,201806247110820,41,74,2,3891,6,1,0,19
3314,2018-06-24,7110820,4,4906,68471,68471,68471,68471,2868343,2018,...,20180624711082004,201806247110820,41,74,2,3891,6,1,0,19
3315,2018-06-24,7110820,5,4907,68496,68496,68496,68496,2868343,2018,...,20180624711082005,201806247110820,41,74,2,3891,6,1,0,19
3316,2018-06-24,7110820,6,4908,68512,68512,68512,68512,2868343,2018,...,20180624711082006,201806247110820,41,74,2,3891,6,1,0,19

In [32]:
wk.shape

(14151282, 22)

<h3>Send to CSV</h3>

In [33]:
# Send df to csv:
lwk.to_csv('v5_27_tripLeave4_sp1.csv', index=False)

## Continue v5_tripLeave4_route_split_2

In [34]:
# Send df to csv:
wk.to_csv('v5_tripLeave4_route_split_2.csv', index=False)