In [1]:
# Library Imports.
import pandas as pd

import numpy as np

In [2]:
# Read tripleave6 route split 8 CSV file into Data Frame:
wk = pd.read_csv('v5_tripLeave6_route_split_8.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

In [3]:
wk.shape

(135136, 22)

In [ ]:
wk.head()

In [ ]:
wk.dtypes

## Datatype Changes

In [4]:
wk['num_lineID'] = wk['num_lineID'].astype('int16')
wk['DIRECTION'] = wk['DIRECTION'].astype('int16')

In [5]:
wk['actual_duration'] = wk['actual_duration'].astype('int64')
wk['dayOfWeek'] = wk['dayOfWeek'].astype('int16')

In [6]:
wk['weekend'] = wk['weekend'].astype('int16')
wk['rushHour'] = wk['rushHour'].astype('int16')

In [7]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
0,2018-09-10,8097644,1,3085,25800,25800,25800,25800,1001242,2018,...,20180910809764401,201809108097644,114,5,2,1682,0,0,0,7
1,2018-09-10,8097644,2,3082,25878,25878,25878,25878,1001242,2018,...,20180910809764402,201809108097644,114,5,2,1682,0,0,0,7
2,2018-09-10,8097644,3,3165,25920,25920,25920,25920,1001242,2018,...,20180910809764403,201809108097644,114,5,2,1682,0,0,0,7
3,2018-09-10,8097644,4,3166,25983,25983,25983,25983,1001242,2018,...,20180910809764404,201809108097644,114,5,2,1682,0,0,0,7
4,2018-09-10,8097644,5,3167,26006,26006,26006,26006,1001242,2018,...,20180910809764405,201809108097644,114,5,2,1682,0,0,0,7

In [ ]:
wk.dtypes

## Route 114

In [8]:
lwk = wk[(wk['LINEID'] == '114')]

In [9]:
lwk.shape

(42425, 22)

In [10]:
# Drop Route 114 rows from wk
wk.drop(wk[wk['LINEID'] == '114'].index, inplace = True)

In [11]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
232,2018-09-10,8097952,1,3057,19200,19200,19200,19200,2172237,2018,...,20180910809795201,201809108097952,7D,123,2,5010,0,0,0,5
233,2018-09-10,8097952,2,4830,19245,19245,19245,19245,2172237,2018,...,20180910809795202,201809108097952,7D,123,2,5010,0,0,0,5
234,2018-09-10,8097952,3,7667,19272,19272,19272,19272,2172237,2018,...,20180910809795203,201809108097952,7D,123,2,5010,0,0,0,5
235,2018-09-10,8097952,4,3091,19314,19314,19314,19314,2172237,2018,...,20180910809795204,201809108097952,7D,123,2,5010,0,0,0,5
236,2018-09-10,8097952,5,3092,19336,19336,19336,19336,2172237,2018,...,20180910809795205,201809108097952,7D,123,2,5010,0,0,0,5

In [12]:
wk.shape

(92711, 22)

<h3>Send to CSV</h3>

In [13]:
# Send df to csv:
lwk.to_csv('v5_114_tripLeave6_sp8.csv', index=False)

## Route 7D

In [14]:
lwk = wk[(wk['LINEID'] == '7D')]

In [15]:
lwk.shape

(7386, 22)

In [16]:
# Drop Route 7D rows from wk
wk.drop(wk[wk['LINEID'] == '7D'].index, inplace = True)

In [17]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
363,2018-09-11,8089496,1,6185,27000,27000,27000,27000,1000325,2018,...,20180911808949601,201809118089496,68X,108,2,4556,1,0,1,8
364,2018-09-11,8089496,2,6186,27048,27048,27048,27048,1000325,2018,...,20180911808949602,201809118089496,68X,108,2,4556,1,0,1,8
365,2018-09-11,8089496,3,6216,27130,27130,27130,27130,1000325,2018,...,20180911808949603,201809118089496,68X,108,2,4556,1,0,1,8
366,2018-09-11,8089496,4,3400,27196,27196,27196,27196,1000325,2018,...,20180911808949604,201809118089496,68X,108,2,4556,1,0,1,8
367,2018-09-11,8089496,5,3401,27236,27236,27236,27236,1000325,2018,...,20180911808949605,201809118089496,68X,108,2,4556,1,0,1,8

In [18]:
wk.shape

(85325, 22)

<h3>Send to CSV</h3>

In [19]:
# Send df to csv:
lwk.to_csv('v5_7D_tripLeave6_sp8.csv', index=False)

## Route 68X

In [20]:
lwk = wk[(wk['LINEID'] == '68X')]

In [21]:
lwk.shape

(294, 22)

In [22]:
# Drop Route 68X rows from wk
wk.drop(wk[wk['LINEID'] == '68X'].index, inplace = True)

In [23]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
405,2018-09-11,8092772,1,6041,84600,84600,84600,84600,3265701,2018,...,20180911809277201,201809118092772,14C,17,2,2280,1,0,0,0
406,2018-09-11,8092772,2,2826,84674,84674,84674,84674,3265701,2018,...,20180911809277202,201809118092772,14C,17,2,2280,1,0,0,0
407,2018-09-11,8092772,3,2842,84715,84715,84715,84715,3265701,2018,...,20180911809277203,201809118092772,14C,17,2,2280,1,0,0,0
408,2018-09-11,8092772,4,2843,84766,84766,84766,84766,3265701,2018,...,20180911809277204,201809118092772,14C,17,2,2280,1,0,0,0
409,2018-09-11,8092772,5,2844,84786,84786,84786,84786,3265701,2018,...,20180911809277205,201809118092772,14C,17,2,2280,1,0,0,0

In [24]:
wk.shape

(85031, 22)

<h3>Send to CSV</h3>

In [25]:
# Send df to csv:
lwk.to_csv('v5_68X_tripLeave6_sp8.csv', index=False)

## Route 14C

In [26]:
lwk = wk[(wk['LINEID'] == '14C')]

In [27]:
lwk.shape

(4934, 22)

In [28]:
# Drop Route 14C rows from wk
wk.drop(wk[wk['LINEID'] == '14C'].index, inplace = True)

In [29]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
2304,2018-09-15,8097249,1,7026,23400,23400,23400,23400,1000140,2018,...,20180915809724901,201809158097249,239,36,1,1910,5,1,0,6
2305,2018-09-15,8097249,2,1882,23452,23452,23452,23452,1000140,2018,...,20180915809724902,201809158097249,239,36,1,1910,5,1,0,7
2306,2018-09-15,8097249,3,7379,23486,23486,23486,23486,1000140,2018,...,20180915809724903,201809158097249,239,36,1,1910,5,1,0,7
2307,2018-09-15,8097249,4,4903,23519,23519,23519,23519,1000140,2018,...,20180915809724904,201809158097249,239,36,1,1910,5,1,0,7
2308,2018-09-15,8097249,5,1883,23551,23551,23551,23551,1000140,2018,...,20180915809724905,201809158097249,239,36,1,1910,5,1,0,7

In [30]:
wk.shape

(80097, 22)

<h3>Send to CSV</h3>

In [31]:
# Send df to csv:
lwk.to_csv('v5_14C_tripLeave6_sp8.csv', index=False)

## Route 239

In [32]:
lwk = wk[(wk['LINEID'] == '239')]

In [33]:
lwk.shape

(29950, 22)

In [34]:
# Drop Route 239 rows from wk
wk.drop(wk[wk['LINEID'] == '239'].index, inplace = True)

In [35]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
5276,2018-11-05,8101578,1,4595,27300,27300,27300,27300,1932366,2018,...,20181105810157801,201811058101578,27X,47,2,4857,0,0,1,8
5277,2018-11-05,8101578,2,4596,27355,27355,27355,27355,1932366,2018,...,20181105810157802,201811058101578,27X,47,2,4857,0,0,1,8
5278,2018-11-05,8101578,3,4563,27416,27416,27416,27416,1932366,2018,...,20181105810157803,201811058101578,27X,47,2,4857,0,0,1,8
5279,2018-11-05,8101578,4,1218,27473,27473,27473,27473,1932366,2018,...,20181105810157804,201811058101578,27X,47,2,4857,0,0,1,8
5280,2018-11-05,8101578,5,1258,27574,27574,27574,27574,1932366,2018,...,20181105810157805,201811058101578,27X,47,2,4857,0,0,1,8

In [36]:
wk.shape

(50147, 22)

<h3>Send to CSV</h3>

In [37]:
# Send df to csv:
lwk.to_csv('v5_239_tripLeave6_sp8.csv', index=False)

## Route 27X

In [38]:
lwk = wk[(wk['LINEID'] == '27X')]

In [39]:
lwk.shape

(4491, 22)

In [40]:
# Drop Route 27X rows from wk
wk.drop(wk[wk['LINEID'] == '27X'].index, inplace = True)

In [41]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
5806,2018-11-05,8105637,1,4747,25200,25200,25200,25200,1001199,2018,...,20181105810563701,201811058105637,236,34,1,2028,0,0,0,7
5807,2018-11-05,8105637,2,2960,25242,25242,25242,25242,1001199,2018,...,20181105810563702,201811058105637,236,34,1,2028,0,0,0,7
5808,2018-11-05,8105637,3,1545,25293,25293,25293,25293,1001199,2018,...,20181105810563703,201811058105637,236,34,1,2028,0,0,0,7
5809,2018-11-05,8105637,4,1816,25367,25367,25367,25367,1001199,2018,...,20181105810563704,201811058105637,236,34,1,2028,0,0,0,7
5810,2018-11-05,8105637,5,6171,25422,25422,25422,25422,1001199,2018,...,20181105810563705,201811058105637,236,34,1,2028,0,0,0,7

In [42]:
wk.shape

(45656, 22)

<h3>Send to CSV</h3>

In [43]:
# Send df to csv:
lwk.to_csv('v5_27X_tripLeave6_sp8.csv', index=False)

## Route 236

In [44]:
lwk = wk[(wk['LINEID'] == '236')]

In [45]:
lwk.shape

(4494, 22)

In [46]:
# Drop Route 236 rows from wk
wk.drop(wk[wk['LINEID'] == '236'].index, inplace = True)

In [47]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
6444,2018-11-05,8110635,1,3732,26400,26400,26400,26400,1000202,2018,...,20181105811063501,201811058110635,33D,58,2,4483,0,0,0,7
6445,2018-11-05,8110635,2,3733,26420,26420,26420,26420,1000202,2018,...,20181105811063502,201811058110635,33D,58,2,4483,0,0,0,7
6446,2018-11-05,8110635,3,3734,26461,26461,26461,26461,1000202,2018,...,20181105811063503,201811058110635,33D,58,2,4483,0,0,0,7
6447,2018-11-05,8110635,4,3735,26483,26483,26483,26483,1000202,2018,...,20181105811063504,201811058110635,33D,58,2,4483,0,0,0,7
6448,2018-11-05,8110635,5,7039,26547,26547,26547,26547,1000202,2018,...,20181105811063505,201811058110635,33D,58,2,4483,0,0,0,7

In [48]:
wk.shape

(41162, 22)

<h3>Send to CSV</h3>

In [49]:
# Send df to csv:
lwk.to_csv('v5_236_tripLeave6_sp8.csv', index=False)

## Route 33D

In [50]:
lwk = wk[(wk['LINEID'] == '33D')]

In [51]:
lwk.shape

(699, 22)

In [52]:
# Drop Route 33D rows from wk
wk.drop(wk[wk['LINEID'] == '33D'].index, inplace = True)

In [53]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
7293,2018-11-05,8113084,1,3283,28500,28500,28500,28500,2172277,2018,...,20181105811308401,201811058113084,118,7,2,4862,0,0,1,8
7294,2018-11-05,8113084,2,3284,28548,28548,28548,28548,2172277,2018,...,20181105811308402,201811058113084,118,7,2,4862,0,0,1,8
7295,2018-11-05,8113084,3,3310,28582,28582,28582,28582,2172277,2018,...,20181105811308403,201811058113084,118,7,2,4862,0,0,1,8
7296,2018-11-05,8113084,4,3481,28595,28595,28595,28595,2172277,2018,...,20181105811308404,201811058113084,118,7,2,4862,0,0,1,8
7297,2018-11-05,8113084,5,3482,28619,28619,28619,28619,2172277,2018,...,20181105811308405,201811058113084,118,7,2,4862,0,0,1,8

In [54]:
wk.shape

(40463, 22)

<h3>Send to CSV</h3>

In [55]:
# Send df to csv:
lwk.to_csv('v5_33D_tripLeave6_sp8.csv', index=False)

## Route 118

In [56]:
lwk = wk[(wk['LINEID'] == '118')]

In [57]:
lwk.shape

(1795, 22)

In [58]:
# Drop Route 118 rows from wk
wk.drop(wk[wk['LINEID'] == '118'].index, inplace = True)

In [59]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
53578,2018-12-02,8150025,1,7073,72600,72600,72600,72600,3265672,2018,...,20181202815002501,201812028150025,40E,73,2,1420,6,1,0,20
53579,2018-12-02,8150025,2,7097,72660,72660,72660,72660,3265672,2018,...,20181202815002502,201812028150025,40E,73,2,1420,6,1,0,20
53580,2018-12-02,8150025,3,7098,72692,72692,72692,72692,3265672,2018,...,20181202815002503,201812028150025,40E,73,2,1420,6,1,0,20
53581,2018-12-02,8150025,4,7099,72722,72722,72722,72722,3265672,2018,...,20181202815002504,201812028150025,40E,73,2,1420,6,1,0,20
53582,2018-12-02,8150025,5,7100,72758,72758,72758,72758,3265672,2018,...,20181202815002505,201812028150025,40E,73,2,1420,6,1,0,20

In [60]:
wk.shape

(38668, 22)

<h3>Send to CSV</h3>

In [61]:
# Send df to csv:
lwk.to_csv('v5_118_tripLeave6_sp8.csv', index=False)

## Route 40E

In [62]:
lwk = wk[(wk['LINEID'] == '40E')]

In [63]:
lwk.shape

(30848, 22)

In [64]:
# Drop Route 40E rows from wk
wk.drop(wk[wk['LINEID'] == '40E'].index, inplace = True)

In [65]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
53836,2018-12-03,8151574,3,7349,28370,28370,28370,28370,1000955,2018,...,20181203815157403,201812038151574,16D,27,1,5499,0,0,1,8
53837,2018-12-03,8151574,4,1631,28459,28459,28459,28459,1000955,2018,...,20181203815157404,201812038151574,16D,27,1,5499,0,0,1,8
53838,2018-12-03,8151574,5,1632,28483,28483,28483,28483,1000955,2018,...,20181203815157405,201812038151574,16D,27,1,5499,0,0,1,8
53839,2018-12-03,8151574,6,5053,28515,28515,28515,28515,1000955,2018,...,20181203815157406,201812038151574,16D,27,1,5499,0,0,1,8
53840,2018-12-03,8151574,7,1633,28546,28546,28546,28546,1000955,2018,...,20181203815157407,201812038151574,16D,27,1,5499,0,0,1,8

In [66]:
wk.shape

(7820, 22)

<h3>Send to CSV</h3>

In [67]:
# Send df to csv:
lwk.to_csv('v5_40E_tripLeave6_sp8.csv', index=False)

## Route 16D

In [68]:
lwk = wk[(wk['LINEID'] == '16D')]

In [69]:
lwk.shape

(5799, 22)

In [70]:
# Drop Route 16D rows from wk
wk.drop(wk[wk['LINEID'] == '16D'].index, inplace = True)

In [71]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
55208,2018-12-03,8156125,1,292,25200,25200,25200,25200,1000138,2018,...,20181203815612501,201812038156125,33E,59,1,6027,0,0,0,7
55209,2018-12-03,8156125,2,1171,25238,25238,25238,25238,1000138,2018,...,20181203815612502,201812038156125,33E,59,1,6027,0,0,0,7
55210,2018-12-03,8156125,3,1172,25271,25271,25271,25271,1000138,2018,...,20181203815612503,201812038156125,33E,59,1,6027,0,0,0,7
55211,2018-12-03,8156125,4,1173,25319,25319,25319,25319,1000138,2018,...,20181203815612504,201812038156125,33E,59,1,6027,0,0,0,7
55212,2018-12-03,8156125,5,1174,25380,25380,25380,25380,1000138,2018,...,20181203815612505,201812038156125,33E,59,1,6027,0,0,0,7

In [72]:
wk.shape

(2021, 22)

<h3>Send to CSV</h3>

In [73]:
# Send df to csv:
lwk.to_csv('v5_16D_tripLeave6_sp8.csv', index=False)

## Route 33E

In [74]:
lwk = wk[(wk['LINEID'] == '33E')]

In [75]:
lwk.shape

(1452, 22)

In [76]:
# Drop Route 33E rows from wk
wk.drop(wk[wk['LINEID'] == '33E'].index, inplace = True)

In [77]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
74487,2018-12-11,8173537,1,288,28200,28200,28200,28200,1932358,2018,...,20181211817353701,201812118173537,41D,78,1,3269,1,0,1,8
74488,2018-12-11,8173537,2,1171,28242,28242,28242,28242,1932358,2018,...,20181211817353702,201812118173537,41D,78,1,3269,1,0,1,8
74489,2018-12-11,8173537,3,1172,28274,28274,28274,28274,1932358,2018,...,20181211817353703,201812118173537,41D,78,1,3269,1,0,1,8
74490,2018-12-11,8173537,4,1173,28320,28320,28320,28320,1932358,2018,...,20181211817353704,201812118173537,41D,78,1,3269,1,0,1,8
74491,2018-12-11,8173537,5,1174,28380,28380,28380,28380,1932358,2018,...,20181211817353705,201812118173537,41D,78,1,3269,1,0,1,8

In [78]:
wk.shape

(569, 22)

<h3>Send to CSV</h3>

In [79]:
# Send df to csv:
lwk.to_csv('v5_33E_tripLeave6_sp8.csv', index=False)

## Route 41D

In [80]:
lwk = wk[(wk['LINEID'] == '41D')]

In [81]:
lwk.shape

(569, 22)

In [82]:
# Drop Route 41D rows from wk
wk.drop(wk[wk['LINEID'] == '41D'].index, inplace = True)

In [83]:
wk.head()

Empty DataFrame
Columns: [DAYOFSERVICE, TRIPID, PROGRNUMBER, STOPPOINTID, PLANNEDTIME_ARR, PLANNEDTIME_DEP, ACTUALTIME_ARR, ACTUALTIME_DEP, VEHICLEID, year, month, day, id, trip_leave_id, LINEID, num_lineID, DIRECTION, actual_duration, dayOfWeek, weekend, rushHour, actualARR_hour]
Index: []

[0 rows x 22 columns]

In [84]:
wk.shape

(0, 22)

<h3>Send to CSV</h3>

In [85]:
# Send df to csv:
lwk.to_csv('v5_41D_tripLeave6_sp8.csv', index=False)

## Route 70D

In [ ]:
lwk = wk[(wk['LINEID'] == '70D')]

In [ ]:
lwk.shape

In [ ]:
# Drop Route 70D rows from wk
wk.drop(wk[wk['LINEID'] == '70D'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_70D_tripLeave6_sp8.csv', index=False)

## Route 236

In [ ]:
lwk = wk[(wk['LINEID'] == '236')]

In [ ]:
lwk.shape

In [ ]:
# Drop Route 236 rows from wk
wk.drop(wk[wk['LINEID'] == '236'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_236_tripLeave6_sp8.csv', index=False)

## Route 41X

In [ ]:
lwk = wk[(wk['LINEID'] == '41X')]

In [ ]:
lwk.shape

In [ ]:
# Drop Route 41X rows from wk
wk.drop(wk[wk['LINEID'] == '41X'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_41X_tripLeave6_sp8.csv', index=False)

## Route 31B

In [ ]:
lwk = wk[(wk['LINEID'] == '31B')]

In [ ]:
lwk.shape

In [ ]:
# Drop Route 31B rows from wk
wk.drop(wk[wk['LINEID'] == '31B'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_31B_tripLeave6_sp8.csv', index=False)

## Route 14C

In [ ]:
lwk = wk[(wk['LINEID'] == '14C')]

In [ ]:
lwk.shape

In [ ]:
# Drop Route 14C rows from wk
wk.drop(wk[wk['LINEID'] == '14C'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_14C_tripLeave6_sp8.csv', index=False)

## Continue v5_tripLeave6_route_split_9

In [ ]:
# Send df to csv:
wk.to_csv('v5_tripLeave6_route_split_9.csv', index=False)