In [1]:
# Library Imports.
import pandas as pd

import numpy as np

In [2]:
rt = pd.read_csv('v8c_route_33.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

In [3]:
rt.shape

(1314517, 26)

In [4]:
rt.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,VEHICLEID,year,month,day,id,...,weekend,rushHour,stop_actARR_hour,wthr_tr_lt_id,temp,humidity,wind_speed,weather_id,weather_description,dos_trpID_stpID_prgNum
0,2018-01-01,5955452,1,6048,43200,2534846,2018,1,1,20180101595545201,...,0,0,12,2018010112,7.39,76.0,12.4,803.0,broken clouds,2018-01-01-5955452-6048-1
1,2018-01-01,5955452,2,5064,43212,2534846,2018,1,1,20180101595545202,...,0,0,12,2018010112,7.39,76.0,12.4,803.0,broken clouds,2018-01-01-5955452-5064-2
2,2018-01-01,5955452,3,7173,43237,2534846,2018,1,1,20180101595545203,...,0,0,12,2018010112,7.39,76.0,12.4,803.0,broken clouds,2018-01-01-5955452-7173-3
3,2018-01-01,5955452,4,3811,43260,2534846,2018,1,1,20180101595545204,...,0,0,12,2018010112,7.39,76.0,12.4,803.0,broken clouds,2018-01-01-5955452-3811-4
4,2018-01-01,5955452,5,3812,43266,2534846,2018,1,1,20180101595545205,...,0,0,12,2018010112,7.39,76.0,12.4,803.0,broken clouds,2018-01-01-5955452-3812-5

In [5]:
rt.isnull().sum()

DAYOFSERVICE                 0
TRIPID                       0
PROGRNUMBER                  0
STOPPOINTID                  0
PLANNEDTIME_ARR              0
VEHICLEID                    0
year                         0
month                        0
day                          0
id                           0
trip_leave_id                0
LINEID                       0
num_lineID                   0
DIRECTION                    0
act_trip_dur                 0
dayOfWeek                    0
weekend                      0
rushHour                     0
stop_actARR_hour             0
wthr_tr_lt_id                0
temp                      3076
humidity                  3076
wind_speed                3076
weather_id                3076
weather_description       3076
dos_trpID_stpID_prgNum       0
dtype: int64

## Drop Rows with NaNs

In [6]:
rt = rt.dropna()

In [7]:
rt.shape

(1311441, 26)

In [8]:
rt.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,VEHICLEID,year,month,day,id,...,weekend,rushHour,stop_actARR_hour,wthr_tr_lt_id,temp,humidity,wind_speed,weather_id,weather_description,dos_trpID_stpID_prgNum
0,2018-01-01,5955452,1,6048,43200,2534846,2018,1,1,20180101595545201,...,0,0,12,2018010112,7.39,76.0,12.4,803.0,broken clouds,2018-01-01-5955452-6048-1
1,2018-01-01,5955452,2,5064,43212,2534846,2018,1,1,20180101595545202,...,0,0,12,2018010112,7.39,76.0,12.4,803.0,broken clouds,2018-01-01-5955452-5064-2
2,2018-01-01,5955452,3,7173,43237,2534846,2018,1,1,20180101595545203,...,0,0,12,2018010112,7.39,76.0,12.4,803.0,broken clouds,2018-01-01-5955452-7173-3
3,2018-01-01,5955452,4,3811,43260,2534846,2018,1,1,20180101595545204,...,0,0,12,2018010112,7.39,76.0,12.4,803.0,broken clouds,2018-01-01-5955452-3811-4
4,2018-01-01,5955452,5,3812,43266,2534846,2018,1,1,20180101595545205,...,0,0,12,2018010112,7.39,76.0,12.4,803.0,broken clouds,2018-01-01-5955452-3812-5

In [9]:
rt.isnull().sum()

DAYOFSERVICE              0
TRIPID                    0
PROGRNUMBER               0
STOPPOINTID               0
PLANNEDTIME_ARR           0
VEHICLEID                 0
year                      0
month                     0
day                       0
id                        0
trip_leave_id             0
LINEID                    0
num_lineID                0
DIRECTION                 0
act_trip_dur              0
dayOfWeek                 0
weekend                   0
rushHour                  0
stop_actARR_hour          0
wthr_tr_lt_id             0
temp                      0
humidity                  0
wind_speed                0
weather_id                0
weather_description       0
dos_trpID_stpID_prgNum    0
dtype: int64

## Send to CSV

In [10]:
# Send route to csv:
rt.to_csv('v8c_route_33.csv', index=False)